@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap');

body {
    
    height: 96vh;
    background-image: url("smoke2.jpg");
    background-position: center;
}

.container1 {
    display: grid;
    place-items: center;
    margin: 0;
    height: 50%; 
}

.neon {
    margin: 0;
    color: white;
    font-size: 10vw;
    text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #ff005b,
      0 0 80px #ff005b,
      0 0 90px #ff005b,
      0 0 100px #ff005b,
      0 0 150px #ff005b;
    /* text-shadow: 0 0 20px #ff005b; */
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    animation: flicker 2s linear infinite;
}

@keyframes flicker {
    0% {opacity: 0.1; text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #ff005b,
        0 0 40px #ff005b;}
    2% {opacity: 1; text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #ff005b,
        0 0 40px #ff005b;}
    /* 8% {opacity: 0.1; text-shadow: 0 0 20px #ff005b;}
    9% {opacity: 1; text-shadow: 0 0 20px #ff005b;} */
    12% {opacity: 0.1; text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #ff005b,
        0 0 40px #ff005b;}
    20% {opacity: 1; text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #ff005b,
        0 0 40px #ff005b;}
    25% {opacity: 0.3; text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #ff005b,
        0 0 40px #ff005b;}
    30% {opacity: 1; text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #ff005b,
        0 0 40px #ff005b;}
    70% {opacity: 0.7; text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #ff005b,
        0 0 40px #ff005b;}
    72% {opacity: 0.2; text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #ff005b,
        0 0 40px #ff005b;}
    77% {opacity: 0.9; text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #ff005b,
        0 0 80px #ff005b;}
    /* 66% {opacity: 0; text-shadow: none;} */
    100% {opacity: 0.9; text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #ff005b,
        0 0 80px #ff005b;}
}

.container2 {
    height: 33%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.foot {
    font-family: 'Source Code Pro', monospace;
    color: #ff005b;
}

.code {
    overflow: hidden;
    border-right: .15em solid #ff005b;
    white-space: nowrap;
    margin: 0 auto;
    animation: 
        typing 2.5s steps(20, end),
        blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #ff005b; }
}